/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #f857a6, #ff5858);
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}